<div ng-controller="userctrl">
    
   
    
    <button ng-click="getUsers()" class="btn btn-info load">Load Users</button>
    <button ng-click="addGroup()" class="btn btn-success load">Add new group</button>
    <input type="text" placeholder="Add Group Name" class="form-control groupname" ng-model="groupname">
    <h3 class = "heading1 groupcolour"> {{msg}} </h3>
    <table class="table table-striped table-bordered text-center">
        <thead>
            <tr>
                <th>Mark</th>
                <th>S no.</th>
                <th>Username</th>
            </tr>

        </thead>
        <tbody>
            <tr ng-repeat="user in students">
                <td> <input type="checkbox" ng-model="user.isSelected" ng-click="user.isSelected = !user.isSelected"> </td>
                <td>{{$index+1}}</td>
                <td>{{user.username}}</td>
            </tr>
        </tbody>
    </table>
</div>
